.font1{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
}
.font2{
    font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
}
.font3{
    font-family: 'Lobster', cursive;
font-weight: 400;

}
.font4{
    font-family: 'Nunito Sans', sans-serif;
font-weight: 400;

}
.font5{
    font-family: 'Playfair Display', serif;
 font-weight: 400;
}
.font6{
    font-family: 'Prompt', sans-serif;
font-weight: 400;
}
.font7{
    font-family: 'Roboto Condensed', sans-serif;
 font-weight: 400;
}
.font8{
    font-family: 'Roboto Slab', serif;
font-weight: 300;
}
.font9{
    font-family: 'Secular One', sans-serif;
font-weight: 300;

}
.font10{
    font-family: 'Sofia Sans Condensed', sans-serif;
 font-weight: 400;
}

